<!DOCTYPE html>
<html>
<body>
<table width="100%">
<tr>
<td>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png" 
    width="20"/>
</td>
<td width="15%"><img src="https://cdn.vox-cdn.com/thumbor/8fWz6qpiMYMsZhY4vrc9Vhl5yL8=/0x110:1320x770/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/21939811/newgmaillogo.jpg" alt="gmail logo" width="130" height="70">
</td>

<td><input type="text" placeholder="Search mail" name="search" size="90" style="height:40px; border:none;background-color:#F1F3F4;"/></td>

<td width="3%"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Icon-round-Question_mark.jpg/1200px-Icon-round-Question_mark.jpg" width="20"></td>
<td width="3%"><img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Cogwheel.png" width="20"></td>
<td width="3%"><img src="https://pic.onlinewebfonts.com/svg/img_416252.png" width="15"></td>
<td width="3%"><img src="https://freepngimg.com/save/66395-npm-material-design-letter-android-email-gmail/512x512" width="33"></td>

</tr>
</table>
</body>
</html>