<!DOCTYPE html>
<html>
<body>
<table width="100%">
<tr>
<td><img src="../static/images/compose.jpg" width="150"/></td>
</tr>
</table>
<table>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/email-letter-inbox-send-256.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Inbox</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn1.iconfinder.com/data/icons/office-222/91/General_Office_53-256.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Starred</td>
<td>&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn-icons-png.flaticon.com/512/1827/1827379.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Snoozed</td>
<td>&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Important</td>
<td>&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn0.iconfinder.com/data/icons/user-interface-2063/24/UI_Essential_icon_expanded_2-06-256.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Sent</td>
<td>&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/document_file_text_draft-2-256.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Drafts</td>
<td>&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
<hr>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meet
<br><br>
<table>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn-icons-png.flaticon.com/512/711/711245.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>New Meeting</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><img src="https://cdn-icons-png.flaticon.com/512/159/159602.png" width="20">&nbsp;&nbsp;&nbsp;</td>
<td>Join a Meeting</td>
</tr>
</table>
</body>
</html>