<!DOCTYPE html>
<html>
<body>
<table width="100%">
<tr style="height:42px;">
<td><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_stay_primary_landscape_48px-256.png" width="15"align="center">&nbsp;&nbsp;Primary</td>
<td><img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" width="15"align="center">&nbsp;&nbsp;Social </td>
<td><img src="https://cdn-icons-png.flaticon.com/512/565/565382.png" width="15"align="center">&nbsp;&nbsp;Promotion</td>
</tr>
</table>
<hr>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>
<tr style="height:40px; background-color:#F1F3F4;">
<td width="20%">
&nbsp;&nbsp;
<img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-6/24/ic_fluent_select_all_off_24_regular-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-256.png" width="15" align="center"/>
&nbsp;
<img src="https://cdn-icons-png.flaticon.com/512/724/724927.png" width="15" align="center"/>
&nbsp;&nbsp;
John Doe
</td>
<td>Limited Offer to avail 24% on flight ticket</td>
</tr>

</body>
</html>